      *{
        /*border: 1px dashed black;*/
        margin:0;
        padding: 0;
      }

p {
  padding: 5px;
}

article {
  border: solid 1px;
  border-top-left-radius: 10px; 
  border-bottom-right-radius: 10px;

  margin: 10px;
  width: 70%;
}

article:hover {
  background-color: #979995;
}

      .inline{
        /*not used yet*/
        display:inline-block;
      }

      #logo{
        float:left;
        margin: 5px;
      }

      #search{
        float: right; 
        /*border: solid 1px;*/
        background-color: #979995;   
        width: 20%; 
        height: 10px;
        margin: 5px;
        padding: 10px;
        border-top-left-radius: 10px; 
        border-bottom-right-radius: 10px;
      }
      
      #content{
        clear: both; 
        width: 100%;
        margin: 5px;
      }
      
      #posts{
        float: right;
        width: 65%;
        /*border: solid 1px;*/
      }

      #left-sidebar{
        float: left;
        width: 25%;
        /*border: solid 1px;*/
        position: relative;
        height: 200px;
      }

      #menu{
        /*border: solid 1px;*/
        width: 80%;
      }

      #media{
        /*border: solid 1px;*/
        position: absolute;
        bottom: -100%;
      }

      #footer{
        clear: both;
        border: solid 1px;
        width: 100%;
        margin: 5px;
        padding: 10px;
        border-top-left-radius: 10px; 
        border-bottom-right-radius: 10px;
      }