      *{
        /*border: 1px dashed black;*/
        margin:0;
        padding: 0;
      }

article {
  border: solid 1px;
  border-top-left-radius: 10px; 
  border-bottom-right-radius: 10px;

  margin: 10px;
  width: 70%;
}

article:hover {
  background-color: #979995;
}

      .inline{
        /*not used yet*/
        display:inline-block;
      }

      #logo{
        float:left;
        margin: 5px;
      }

      #search{
        float: right; 
        border: solid 1px; 
        background-color: #979995; 
        width: 20%; 
        height: 10px; 
        margin: 5px;
        padding: 10px;
        border-top-left-radius: 10px; 
        border-bottom-right-radius: 10px;
      }

      #content{
        clear: both; 
        width: 100%;
      }
      
      #posts{
        float: left;
        width: 65%;
        height: 600px;
        border: solid 1px;
        margin: 5px;
        padding: 10px;
        background-color: #A3C0C2;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      #left-sidebar{
        float: left;
        width: 10%;
        border: solid 1px;
        margin: 5px;
        padding: 10px;
        position: relative;
        height: 200px;
        background-color: #FFD097;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      #right-sidebar{
        float: left;
        width: 15%;
        /*border: solid 1px;*/
        margin: 5px;
        padding: 10px;
        position: relative;
        /*background-color: #FFD097;*/
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      #menu{
        /*border: solid 1px;*/
        width: 100%;
        float:top;
      }

      #sidemenuleft_menuitem{

      }

      #sidemenuleft_menuitem:hover{
        background-color: #979995;
      }

      #quicklinks{
        border: solid 1px;
        float: bottom;
        height: 200px;
        background-color: #FFD097;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 10px;
      }

      #video{
        border: solid 1px;
        float: bottom;
        height: 200px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 10px;
      }

      #vertmenu{
        clear: both;
        border: 0 solid;
        width: 100%;
        position: relative;
        top: 45%;
        padding: 3px;
      }

      #vertmenu_button{
        padding: 3px;
        text-align: center;
        background-color: yellow;
        border: 1px solid;
        display: inline-block;
        width: 13%;
      }
      #vertmenu_button:hover{
        background-color: #979995;
      }
      #vertmenu_button_endleft{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 3px;
        text-align: center;
        background-color: yellow;
        border: 1px solid;
        display: inline-block;
        width: 13%;
      }
      #vertmenu_button_endleft:hover{
        background-color: #979995;
      }
      #vertmenu_button_endright{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 3px;
        text-align: center;
        background-color: yellow;
        border: 1px solid;
        display: inline-block;
        width: 13%;
      }
      #vertmenu_button_endright:hover{
        background-color: #979995;
      }

      #media{
        border: solid 1px;
        position: absolute;
        bottom: -100%;
      }

      #footer{
        clear: both;
        border: solid 1px;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .li_noindicator{
        list-style-image: none;
      }